{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped" style="text-align: left;">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, len) %}
                <tr>
                    <td>{{rows1[i]["symbol"]}}</td>
                    <td>{{rows1[i]["name"]}}</td>
                    <td>{{rows1[i]["shares"]}}</td>
                    <td>{{latestPrice[i]}}</td>
                    <td>{{rows1[i]["total"]}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
        <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>{{total_f}}</td>
                </tr>
        </tfoot>
    </table>
{% endblock %}